@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
body{
    background-color: #0D090A;
}

header{
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    text-decoration: none;
}

.logo-header img{
    width: 50px;
}
ul{
    list-style: none;
}
.nav-menu ul{
    display: flex;
    align-items: center;
}
.navbar{
    margin-right: 2rem;
    padding: 10px;
}
.nav-menu a{
    color: #fff;
}
.navbar:hover{
    background-color: aqua;
}
.navbar1{
    margin-right: 2rem;
    padding: 10px;
}
.navbar1:hover{
    background-color: #a30a0a;
}
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}
.bg-init{
    background-color: #0D090A;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(31, 5, 5, 0.555) 0%, rgba(51, 8, 103, 0.5) 100%), url(../img/michael-baccin-XopauR-Nagk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}





a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    color: #EAF2EF;
    font-weight: bold;
    font-size: 20px;  
}

.title{
    padding: 30px;
    margin: 0px 40px 6px 40px;
}
.b-par{
    font-weight: 320;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 50px 0 50px;

}
.principal{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: rgb(34, 34, 34);
}
.principal h3{
    
    font-size: 1.5em;
    color: #ff0000;
    margin-bottom: 15px;
}
.element:hover{
    cursor: pointer;
}
.elemento1{
    background-image: url(../img/darling1.png);
    grid-column: 1/3 ;
    grid-row: 1/2;
}
.elemento2{
    background-image: url(../img/konosuba.png);
    grid-column: 3/4;
    grid-row: 1/4;
}
.elemento3{
    background-image: url(../img/sentouin.png);
    grid-column: 1/3;
    grid-row: 2/4;
}
.elemento4{
    background-image: url(../img/tantei.png);
    grid-column: 1/-1;
    grid-row: 4/5;
}

.container{
    outline: 2px solid #000000;
    width: 90%;
    max-width: 1000px;
    height: 700px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(4, 1fr);
    gap: 20px;
    grid-template-areas: 
    "elemento1 elemento1 elemento2"
    "elemento3 elemento3 elemento2"
    "elemento3 elemento3 elemento2"
    "elemento4 elemento4 elemento4";
}
.elemento{
    background-color: #ff0000;
    text-align: center;
    
}


footer{
    background: #000000;
    padding-bottom: 0.1px;

}
.brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; 
    font-size: 37px;
    margin-left: 30px;
    color: #a30a0a;
}



.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.contact-pe{

    width: 40%;
    color: white;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-bottom: 5px;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: white;
}
.social-media-icon:hover{
    background: rgba(66, 64, 64, 0.877);
    color: rgba(255, 255, 255, 0.986);
    padding: 0;

}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
    
}
@media (max-width:952px){
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 35px;
        right: 20px;
        cursor: pointer;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        top:70px;
        left:-100%;
        background: #222;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all .25s;
    }
    .contact-pe{
        width: 100%;
        height: 20px;
        margin-bottom: 15px;
        color: white;
    }
    .social-media{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-right: 50px;
        margin-bottom: 5px;
    }
    .social-media-icon i{
        font-size: 30px;
        width: 50px;
        line-height: 60px;
        
    }
    .social-media-icon{
        margin-top: 60px;
        
        
        width: 60px;
        height: 60px;
        border: 2px solid #fff;
        border-radius: 50%;
        text-align: center;
        color: white;
    }
    .elemento1{
        background-image: url(../img/darling2.png);
        grid-column: 1/3 ;
        grid-row: 1/2;
    }
    .elemento2{
        background-image: url(../img/konosuba1.png);
        grid-column: 3/4;
        grid-row: 1/4;
    }
    .elemento3{
        background-image: url(../img/sentouin1.png);
        grid-column: 1/3;
        grid-row: 2/4;
    }
    .elemento4{
        background-image: url(../img/tantei1.png);
        grid-column: 1/-1;
        grid-row: 4/5;
    }
}